@model MvcTutorialPractice.Models.DbProcedure.RegisterData

@{
    ViewBag.Title = "Login";
}

<head>
    <meta charset="utf-8" />
    <title>USER LOGIN</title>
</head>
<h2>LOGIN PAGE</h2>

<br />
<form method="POST">
    <div class="table">
        <div>
            <label for="name" class="control-label col-md-2">UserName: </label>
            <input type="text" name="UserName" class="form-control" />
        </div>
        <div>
            <label for="password" class="control-label col-md-2">Password: </label>
            <input type="password" name="Password" class="form-control" />
        </div>
        <div class="button">
            <button type="submit" class="btn btn-default">Login</button>
            <button type="reset" class="btn btn-default">Cancel</button>
        </div>
    </div>
</form>
<br /><br />
<div><a href='@Url.Action("Register", "User")'> No posees cuenta ? Registrate </a></div>
<div><a href='@Url.Action("ExportExcel", "PruebaEntity")'> Check All Invoices </a></div>


