@model MvcTutorialPractice.Models.LoginData

@{
    ViewBag.Title = "Login Page";
}

<head>
    <meta charset="utf-8" />
    <title>USER LOGIN</title>
</head>
<h2>LOGIN PAGE</h2>

<br />
<form method="POST">
    <div class="table">
        <div>
            <label for="name">UserName: </label>
            <input type="text" name="UserName" />
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="Password" />
        </div>
        <div class="button">
            <button type="submit">Login</button>
            <button type="reset">Cancel</button>
        </div>
    </div>
</form>
<br /><br />
<div><a href="/Login_User/Register"> No posees cuenta ? Registrate </a></div>


